.test.ipynb
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/Number Conversion.iml
.idea/modules.xml
.idea/misc.xml
.idea/material_theme_project_new.xml
.idea/.gitignore
.gitignore
